@import "tailwindcss";

:root {
  --base-clr: #e5e5e5;
  --text-clr: #121314;
  --base-rev: #121314;
  --text-rev: #e5e5e5;
  --border-clr: #000000;
}

.darkmode {
  --base-clr: #121314;
  --text-clr: #e5e5e5;
  --base-rev: #e5e5e5;
  --text-rev: #121314;
  --border-clr: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-family: "News Cycle", sans-serif;
}